 Garbage/serial/TestData/*
 Simulation/analitik_denemeler/slprj/*
Simulation/MPC/Report/universe.jpg
Simulation/untitled.slx
Simulation/FOC/slprj/*
Simulation/MPC/slprj/*
Simulation/Utilities/SpaceVectorPwm/slprj
Simulation/MPC/mpc_model.slxc
